body{
    margin: 0px;
    position: relative;
  }
  #xxx{
    background: #aaa;
    display: block;
  }
  .actions{
    position: fixed;
    left: 0;
    bottom: 0;
  }
  .actions > #pen{
    display: none;
  }
  .actions.x > #pen{
    display: inline-block;
  }
  .actions.x > #eraser{
    display: none;
  }